{% extends "template.html" %}

{% block content %}
<h2>John Bennett Comfort's Custom Flask App</h2>
<h3>Custom Login, Registration, and profile schema querying</h3>

{% if oidc.user_loggedin %}
<div>
    <h5>Welcome Back {{ name }}</h5>
    <p>Here is my <a href="https://github.com/bennettcomfort">GitHub Profile</a>.</p>
    <p>Here is my <a href="https://www.linkedin.com/in/bennettcomfort/">Linkedin Profile</a>.</p>
</div>
<br>
<br>
{% if processed_text %}
<p>Submitted. Thanks!</p>
{% else %}
<h5>Enter your GitHub URL</h5>
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
{% endif %}
{% else %}
<div>
    <h5>Hello!</h5>
    <p>Here is my <a href="https://github.com/bennettcomfort">GitHub Profile</a>.</p>
    <p>Here is my <a href="https://www.linkedin.com/in/bennettcomfort/">Linkedin Profile</a>.</p>
</div>
<form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
</form>
{% endif %}
{% endblock content %}